html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
/* header */
.socialLink {
    display: flex;
    justify-content: flex-end;
    background: #f6f6f6;
}
.socialLink button{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.socialLink button img {
    margin-right: 5px;
}
#fb a {
    color: #4460a0;
}
#twitter a {
    color: #6ac3ef;
}
#fb {
border-right:  1px solid #b4b4b4;
}
.navbar ,.navbarLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLink li {
    margin: 0 25px;
}
.navbarLink li a {
    color: #00cc99;
}
.navbar img {
    width: 177px;
    height: 55px;
    object-fit: contain;
    margin-left: 26px;
}
.header a,.course p ,.course li ,.tableContent {
    font-size:  15px;
    line-height: 1.5;
}
/* header:hover */
.navbarLink li a:hover {
    border-bottom: 5px solid #00cc99;
}

/* content */
.title {
    background-image: url('https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    width: 100%;
    height: 346px;
    display: flex;
    align-items: center;
    position: relative;
    
}
h1 {
    width: 100%;
    height: 160px;
    background-color: rgb(0, 0, 0,0.2);
    color: white;
    font-size: 35px;
    display: flex;
    padding-left: 26px;
    position: absolute;
    align-items: center;
}
.course {
    display: flex;
    justify-content: space-between;
    margin: 72px 0;
}
.course .card {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    border: 1px solid lightgrey;
    padding: 15px 20px 20px 20px;
}
.course .courseTitle {
    font-size: 18px;
    font-weight: bold;
}
/* course:hover */
.course .card:hover {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    border: 1px solid lightgrey;
    padding: 15px 20px 20px 20px;
    box-shadow: 5px 3px 5px #b4b4b4;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}
.different {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.different h2,.contact h2 {
    margin-bottom: 30px;
    line-height: 1.5;
}
.tableContent {
    width: 84%;
    margin-bottom: 72px;
    
}
.tableContent th {
    background: #f7f7f7;
    font-weight: bold;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

}
.tableContent th,.tableContent td {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 5px 20px;
}
.tableContent .highLight {
    color: #00a67d;
}
.contact {
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 56px;
    background:linear-gradient(to bottom, #00644b 0% ,#009872 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact form {
    width: 94%;
    display: flex;
    justify-content: center;
}
.group {
    width: 48.9%;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 2.126%;
}
label {
    color: white;
}
.groupInner input{
    text-align: left;
    width: 100%;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 17px;
}
.btn {
    font-size: 15px;
    align-self: end;
    width: 70px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #00cc99;
}
.contact form textarea {
    width: 48.9%;
    height: 245px;
    margin-left: 30px;
}
.btn:hover {
    border: 2px solid #00eab0;
    border-radius: 5px;
    color: white;
    background: #01624a;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 26px;
}
.footer ul li span {
    color: #e12d80;
    font-weight: bold;
}
@media (max-width: 768px) {
    .wrap {
        width: 76.8%;
        margin: 0 auto;
    }
    
    .navbar {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .course {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .header a {
        font-size: 20px;
    }
    .navbar img {
        margin: 20px 0;
        width: 250px;
        object-fit: fill;
    }
    .course .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .course .card:hover {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .contact form {
        position: relative;
        flex-direction: column-reverse;
    }
    .group {
        width: 80%;
        margin: 0 auto;
    }
    
    .btn {
        position: absolute;
        top: 102%;
        width: 40%;
        align-self: end;
        margin-bottom: 30px;
    }
    .contact form textarea {
        width: 80%;
        margin: 0 auto;
    }
    .footer img{
        width: 177px;
        height: 55px;
        object-fit: contain;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer ul {
        text-align: center;
        line-height: 1.5;
    }
}
